body{
    display: flex;
    background-color: rgb(61, 54, 104);
    flex-direction: column;
}
ul{
    display: flex;
    list-style-type: none;
}
button{
    background-color: rgb(8, 105, 122);
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    border: none;
}
button:active {
    background-color: rgb(6, 89, 104);
    transform: translateY(4px);
  }
.signs{
    display: flex;
    gap: 150px;
}
.header{
    display: flex;
    padding: 16px;
    color: white;
    font-size: 24px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    justify-content: space-evenly;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
}
.bottoms{
    display: flex;
    justify-content: center;
    margin-top: 35px;
    gap:65px;
}
.massage{
    margin: 35px;
}
